{{ define "main" }}
<!-- skill inventory -->
{{ partial "skill_inventory.html" . }}

<!-- Header -->
{{ partial "header.html" . }}

<!-- Projects + Pagination -->
<div id="data-container" class="w-full h-full flex flex-wrap gap-4 mt-12"></div>
<div
  id="pagination-container"
  class="pagination-custom w-fit mx-auto mt-4"
></div>
<script src="/js/featured.js"></script>

<!-- custom styles for pagination -->
<style>
  .pagination-custom {
    @apply text-white bg-transparent;
  }
  .pagination-custom .paginationjs-page {
    @apply bg-transparent cursor-pointer;
  }
  .pagination-custom .paginationjs-page.active {
    @apply bg-transparent text-black font-bold;
  }
  .pagination-custom .paginationjs-nav {
    @apply bg-transparent;
  }
</style>
{{ end }}
