<header
  class="absolute top-0 w-full py-4 px-10 flex justify-between items-center"
>
  <a href="{{ .Site.BaseURL }}" class="z-10">
    <img
      class="h-10 w-10 rounded-sm"
      src="/images/Global.png"
      alt="logo"
      id="logoImg"
    />
  </a>
  <nav class="z-10 lg:w-[53%]">
    <ul class="items-center justify-between text-sm flex">
      <li class="" id="expp">
        <a href="" class="text-white hidden lg:flex gap-2 items-center">
          <span>Experience</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-rating-48.png"
            alt="star icon"
          />
        </a>
      </li>
      <li class="">
        <a
          class="text-white hidden lg:flex gap-2 items-center"
          href="{{ .Site.BaseURL }}/alphabet/"
        >
          <span>Projects</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-services-32.png"
            alt="star icon"
          />
        </a>
      </li>
      <li
        class="text-white hidden lg:flex gap-2 items-center cursor-pointer"
        id="skill-button"
      >
        <span>Skills</span>
        <img
          class="h-5 w-5 invert"
          src="/images/icons8/icons8-html-50.png"
          alt="star icon"
        />
      </li>
      <li
        class="text-white hidden lg:flex gap-2 items-center cursor-pointer"
        id="skill-button"
      >
        <span>Resume</span>
        <img
          class="h-5 w-5 invert"
          src="/images/icons8/icons8-download-60.png"
          alt="star icon"
        />
      </li>
      <!-- socials -->
      <li>
        <div class="relative inline-block text-left">
          <button
            type="button"
            class="flex gap-1 bg-white rounded-md px-2 py-1 items-center"
            onclick="document.getElementById('socialsDropdown').classList.toggle('hidden')"
          >
            <span class="text-black">Socials</span>
            <img
              class="h-5 w-5"
              src="images/icons8/icons8-email-48.png"
              alt="social icon"
            />
          </button>

          <div
            id="socialsDropdown"
            class="absolute right-0 mt-2 w-32 bg-white backdrop-blur-sm rounded-md shadow-lg hidden z-10"
          >
            <ul class="py-1 text-black">
              <li>
                <a
                  href="https://www.linkedin.com/in/khalid-koukou/"
                  target="_blank"
                  class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100"
                >
                  <img
                    class="h-5 w-5"
                    src="images/icons8/icons8-linkedin-50.png"
                    alt="LinkedIn"
                  />
                  LinkedIn
                </a>
              </li>
              <li>
                <a
                  href="mailto:khalidkoukou70@gmail.com"
                  class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100"
                >
                  <img
                    class="h-5 w-5"
                    src="/images/icons8/icons8-gmail-50.png"
                    alt="Email"
                  />
                  Email
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/777leed"
                  target="_blank"
                  class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100"
                >
                  <img
                    class="h-5 w-5"
                    src="images/icons8/icons8-github-50.png"
                    alt="GitHub"
                  />
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<script src="/js/header.js"></script>
<script src="/js/skill-inventory.js"></script>
