<header class="flex justify-between items-center">
  <a href="{{ .Site.BaseURL }}">
    <img
      class="h-10 w-10 rounded-sm"
      src="/images/Global.png"
      alt="logo"
      id="logoImg"
    />
  </a>
  <nav class="lg:w-[53%]">
    <ul class="hidden items-center justify-between text-sm lg:flex">
      <li class="text-white flex gap-2 items-center">
        <span>Exp</span>
        <img
          class="h-5 w-5 invert"
          src="/images/icons8/icons8-rating-48.png"
          alt="star icon"
        />
      </li>

      <li class="">
        <a
          href="{{ .Site.BaseURL }}/featured/"
          class="text-white flex gap-2 items-center"
        >
          <span>Featured Work</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-best-product-32.png"
            alt="star icon"
          />
        </a>
      </li>
      <li
        class="text-white flex gap-2 items-center cursor-pointer"
        id="skill-button"
      >
        <span>Skills</span>
        <img
          class="h-5 w-5 invert"
          src="/images/icons8/icons8-html-50.png"
          alt="star icon"
        />
      </li>
      <li>
        <a
          class="text-white flex gap-2 items-center"
          href="{{ .Site.BaseURL }}/alphabet/"
        >
          <span>Alphabets</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-services-32.png"
            alt="star icon"
          />
        </a>
      </li>
      <!-- socials -->
      <li class="flex gap-1 bg-white rounded-md px-2 py-1 items-center">
        <span class="text-black">Socials</span>
        <img
          class="h-5 w-5"
          src="/images/icons8/icons8-email-48.png"
          alt="star icon"
        />
      </li>
    </ul>
    <button
      id="mobile-button"
      class="flex flex-col w-fit h-fit gap-1 cursor-pointer lg:hidden"
    >
      <div class="w-4 h-0.5 border-t-0 bg-white"></div>
      <div class="w-4 h-0.5 border-t-0 bg-white"></div>
      <div class="w-4 h-0.5 border-t-0 bg-white"></div>
    </button>
    <div
      class="w-fit min-w-60 h-screen absolute z-[999] top-0 glass -right-72 transition-all duration-500"
      id="mobile-menu"
    >
      <ul class="p-4 gap-6 justify-between text-sm flex flex-col relative">
        <div
          id="mobile-menu-close"
          class="absolute top-0 right-0 p-4 cursor-pointer"
        >
          X
        </div>
        <li class="text-white flex gap-2 items-center mt-6">
          <span>Exp</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-rating-48.png"
            alt="star icon"
          />
        </li>
        <li>
          <a
            class="text-white flex gap-2 items-center"
            href="{{ .Site.BaseURL }}/featured/"
          >
            <span>Featured Work</span>
            <img
              class="h-5 w-5 invert"
              src="/images/icons8/icons8-best-product-32.png"
              alt="star icon"
            />
          </a>
        </li>
        <li
          class="text-white flex gap-2 items-center cursor-pointer"
          id="skill-button"
        >
          <span>Skills</span>
          <img
            class="h-5 w-5 invert"
            src="/images/icons8/icons8-html-50.png"
            alt="star icon"
          />
        </li>
        <li>
          <a
            class="text-white flex gap-2 items-center"
            href="{{ .Site.BaseURL }}/alphabet/"
          >
            <span>Alphabets</span>
            <img
              class="h-5 w-5 invert"
              src="/images/icons8/icons8-services-32.png"
              alt="star icon"
            />
          </a>
        </li>
        <!-- socials -->
        <li
          class="flex gap-1 bg-white rounded-md px-2 py-1 items-center justify-between"
        >
          <span class="text-black">Socials</span>
          <img
            class="h-5 w-5"
            src="/images/icons8/icons8-email-48.png"
            alt="star icon"
          />
        </li>
      </ul>
    </div>
  </nav>
</header>

<script src="/js/header.js"></script>
<script src="/js/skill-inventory.js"></script>
